Flask==0.10.1
Flask-Bcrypt==0.6.0
Flask-MongoKit==0.6
Flask-WTF==0.10.3
Jinja2==2.7.3
MarkupSafe==0.23
WTForms==2.0.1
Werkzeug==0.9.6
itsdangerous==0.24
mongokit==0.9.1.1
py-bcrypt==0.4
pymongo==2.7.2
wsgiref==0.1.2
