{% extends "base.html" %}

{% block title %}Sub-Tracker{% endblock %}

{% block head %}
	{{ super() }} <!-- will retain contents of it's parent 'base.html' -->
{% endblock %}

{% block page_content %}

<header>
	<h1>Home</h1>
	<div class="menu-button" id="menu-button"></div>
</header>

{% include "partials/side-nav.html" %}

<div class="mast">
	<div class="mast-image-container">
		<i class="icon-home"></i>
	</div>
	<h4 class="greeting">{{ name }}</h4>
</div>

{% include "partials/main-nav.html" %}

{% endblock %}