{% extends "base.html" %}

{% block title %}Sub-Tracker{% endblock %}

{% block head %}
	{{ super() }} <!-- will retain contents of it's parent 'base.html' -->
{% endblock %}

{% block page_content %}

<header>
	<h1>Roll</h1>
	<div class="menu-button" id="menu-button"></div>
</header>

{% include "partials/side-nav.html" %}

<!-- <div class="mast">
	<div class="mast-image-container">
		<i class="icon-home"></i>
	</div>
	<h4 class="greeting">{{ name }}</h4>
</div> -->

<!-- <div class="sub-mast">
	<div class="row">
		<a href="{{  url_for('sweep_or_submit') }}">
		<div class="row-icon green">
			<i class="throw"></i>
		</div>
		<p class="row-title">SWEEP || SUBMIT</p>
		</a>
		<div class="clear"></div>
	</div>
	<div class="row">
		<a href="{{  url_for('stats') }}">
		<div class="row-icon green">
			<i class="stats"></i>
		</div>
		<p class="row-title">STATS</p>
		</a>
		<div class="clear"></div>
	</div>
	<div class="row">
		<a href="{{  url_for('roll') }}">
		<div class="row-icon green">
			<i class="throw"></i>
		</div>
		<p class="row-title">ROLL</p>
		</a>
		<div class="clear"></div>
	</div>
</div> -->

{% endblock %}