/****************************************
SETUP
****************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
body {
  background: #ecf0f1;
}
/****************************************
OFF VIEWPORT NAV STRUCTURE
****************************************/
.wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.content {
  height: 100%;
  padding: 0;
  position: relative;
  width: 100%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}
.content.show-nav {
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
}
.close {
  cursor: pointer;
  float: right;
}
/****************************************
HEADER 
****************************************/
header {
  background: #222f3d;
  padding: 10px 5px;
  height: 60px;
}
header h1 {
  text-align: left;
}
/****************************************
MENU
****************************************/
.menu-button {
  color: white;
  cursor: pointer;
  float: right;
  position: relative;
  padding-left: 45px;
}
.menu-button:after {
  border-top: 10px double #fff;
  border-bottom: 3px solid #fff;
  content: "";
  height: 4px;
  position: absolute;
  right: 10px;
  top: -26px;
  width: 25px;
}
.mobile-menu {
  background: #34495e;
  height: 100%;
  right: -300px;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  width: 300px;
}
.mobile-menu ul {
  list-style: none;
}
.mobile-menu ul li {
  border-bottom: 1px solid #2b3c4e;
  height: 50px;
  line-height: 50px;
  padding-left: 25px;
  text-align: left;
}
.mobile-menu ul li:hover,
.mobile-menu ul li:active {
  background: #46627f;
}
.mobile-menu ul a {
  color: #2ecc71;
  text-decoration: none;
}
/****************************************
MAIN
****************************************/
.mast {
  background: #34495e;
  height: 250px;
  position: relative;
}
.mast-image-container {
  border-radius: 100%;
  background: white;
  height: 100px;
  width: 100px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mast .icon-home {
  background: url(/static/assets/img/martial4.png) no-repeat center;
  background-size: 75px 75px;
  display: block;
  height: 100px;
  position: relative;
  width: 100px;
}
.mast .greeting {
  color: #2ecc71;
  bottom: 20px;
  left: 50%;
  margin-left: -28px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
}
.sub-mast {
  position: relative;
  background: #ecf0f1;
  height: 100%;
  width: 100%;
}
.sub-mast .row {
  background: #ecf0f1;
  border-bottom: 1px solid #34495e;
}
.sub-mast .row-title {
  color: #34495e;
  line-height: 75px;
  padding-left: 85px;
}
.sub-mast .row-icon {
  float: left;
  position: relative;
  width: 75px;
  height: 75px;
}
.sub-mast .row-icon.green {
  background: #2ecc71;
}
.sub-mast .row-icon.blue {
  background: #3498db;
}
.sub-mast .row-icon.alizarin {
  background: #e74c3c;
}
.sub-mast .row-icon.carrot {
  background: #e67e22;
}
.sub-mast .row-icon.sunflower {
  background: #f1c40f;
}
.sub-mast .row-icon.pumpkin {
  background: #d35400;
}
.sub-mast .row-icon.wisteria {
  background: #8e44ad;
}
.sub-mast .row .throw {
  background: url(/static/assets/img/silhouettes1.png) no-repeat center;
  background-size: 45px 45px;
  display: block;
  height: 75px;
}
.sub-mast .row .stats {
  background: url(/static/assets/img/ascendant6.png) no-repeat center;
  background-size: 45px 45px;
  display: block;
  height: 75px;
}
.sub-mast .row a {
  text-decoration: none;
}
.sub-mast .row:hover {
  background: #dde4e6;
}
/****************************************
FOOTER
****************************************/
/****************************************
BUTTONS
****************************************/
.btn-md {
  font-size: 18px;
}
.btn-green {
  border: 2px solid #2ecc71;
  color: white;
  background: #2ecc71;
  padding: 10px 20px;
  width: 100%;
}
.btn-green:hover,
.btn-green:active {
  background: white;
  color: #2ecc71;
}
.btn-green:focus {
  outline: 0 !important;
}
.btn-black {
  padding: 10px 20px;
  width: 100%;
}
/****************************************
TYPOGRAPHY AND COLORS
****************************************/
h1 {
  color: #2ecc71;
}
/****************************************
ERRORS
****************************************/
.error-wrapper {
  margin-top: 10px;
}
.error-wrapper .error-message {
  color: #FF8C00;
  text-align: center;
}
/****************************************
FORMS
****************************************/
.login {
  padding: 10px 5px 5px;
  width: 100%;
}
.login input[type=text] {
  color: #95a5a6;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  text-transform: uppercase;
}
.login input[type=submit] {
  font-size: 100%;
  border: none;
  cursor: pointer;
  display: block;
  padding: 10px;
  width: 100%;
}
.login input[type=password] {
  color: #95a5a6;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  text-transform: uppercase;
}
/****************************************
HELPERS
****************************************/
.clear {
  clear: both;
  display: block;
  float: none;
}
